*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo{
    font-size: 1.5em;
    color: white;
    user-select: none;
    margin-top: 20px;
    display: flex;
}
header {
  background: rgba(255, 0, 0, 0.848);
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.container{
	margin-left: 30px;
  margin-bottom: 10px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .bntLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .bntLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.h1, h2 p{
    color: #000000;
    margin-top: 20px;
}
.container .room{
  margin-top: 25px;
  margin-left: 05px;
}
.room .btn{
  padding: 10px 15px;
  background-color: #44b347;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;

}
.room img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 05px;
} 
footer {
    background-color: #4f4c4c;
    color: #fff;
    padding: 10px;
    text-align: center;
}